.style-products_list {
    border-radius: 10px;
    position: relative;
    float: right;
    width: 1600px;
    height: max-content;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 20px;
    margin-top: 30px;
}