.style-item-category-box {
    margin: 10px 10px 10px 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    background-color: white;
    width: 180px;
    height: 25px;
}

.style-item-category {
    text-align: center;
    font-family: "Noto Sans Medium";
}